<!DOCTYPE html>
<html>
  <head>
    <title>Customer system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="main-content">
      <div class="container">
        <%- body %>
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/ajax/customerAjax.js"></script>
    <script src="/js/ajax/projectAjax.js"></script>
    <script src="/js/ajax/userAjax.js"></script>
    <script src="/js/script.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
